.navbar-brand
{
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}

.ucdivbg
{
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.9)), url('chevron.jpg') repeat;
}
